<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	oLfQ5ZEW/YrT9u+OJEJ4ZOczl//NbtOjO2T+fO1H8eku90NxFM53JP2k6ZgXU0i1jnPO
	eB5NJKbd/cwUiMs6Xq5i8fwaKovOruOQCpkpJd8PgD/Z11R8umE9RDxggZv53TyvZK2e
	GLObfcugKPEvQkUNIZcUmxZmVFbZb6fZBc4=
	</data>
</dict>
</plist>
